<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Practico</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/navbar.css" />
    <link rel="stylesheet" href="./css/result.css">
  </head>
  <body>
   <nav>
        <div class="nav_container">
            <div class="logo">
                <a href="/">Practico</a>
            </div>
            <ul class="links">
                <li><a href="/assessment">Assessment</a></li>
                <li><a href="/post_assessment">Post Assessment</a></li>
                <li><a href="/result">Result</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="result_container">
        <div class="assessment_result">
  
            <div class="pre_assessment assessment">
                <p>Your post assessment result is {{post_assessment}}/5</p>
            </div>


            <div class="pre_assessment assessment">
                <p>Your pre assessment result is {{pre_assessment}}/5</p>
            </div>
            <div class="line"></div>
            <div class="score">
                <p>Total score &nbsp;=</p> <span> {{score}} </span>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>